<%+cbi/valueheader%>
 <div>
 <td style="width:1200px">
 <br />
 <br />
 <tr style="width:120px; height:35px"><font size="6" color="red">WARNING:</font></tr>
 <tr style="width:120px; height:30px"><font size="6" color="red">Machine warranty will be voided once overclocking feature is enabled.</font></tr>
 <tr style="width:120px; height:30px"><font size="6" color="red">Overclocking may cause the machine and power burned out.</font></tr>
 <tr style="width:120px; height:30px"><font size="6" color="red">Please confirm if you still would like to enable overclocking.</font></tr>
 <br />
 <br />
 </td>
 </div>
<%+cbi/valuefooter%>
