<%+header%>
	<style>
	    .cbi-value{padding:10px 0px 10px 0px;}
	    .cbi-value-field,.cbi-input-select{height:25px; line-height:25px;}
	    .cbi-value-field input{ width:30%;}
	    .cbi-button{height:25px; line-height:25px;}
	</style>
	<script type="text/javascript">
	    $(document).ready(function(){
		    $.ajax({
url:'/cgi-bin/luci/avalon/network/wan',
type:'get',
success:function(_data){
if(_data){
$("#page-inner").html(_data);
}else{
$("#page-inner").html('No data~');
}}
});
		    $('input[name="cbi.apply"]').live('click', function(){
			$('form[name="cbi"]').append('<input type="hidden" name="cbi.apply" value="Save & Apply">');
			});
		    $('input[value="Save"]').live('click', function(){
			$('form[name="cbi"]').append('<input type="hidden" value="Save">');
			});
		    $('form[name="cbi"]').live('submit',function(){
			$.ajax({
url:'/cgi-bin/luci/avalon/network/wan',
type:'post',
data:$('form[name="cbi"]').serialize(),
success:function(_data){
alert('Submit Ok!');
}
});
			return false;
			});
});
</script>
<%+footer%>